/* Global style */
@import url(//db.onlinewebfonts.com/c/226f58ab113a6d821def90a7d6dc2427?family=GT+Pressura+Mono+Regular);
@font-face {
  font-family: 'GT Pressura Mono Regular';
  src: url('//db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.eot');
  src: url('//db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/226f58ab113a6d821def90a7d6dc2427.svg#GT Pressura Mono Regular')
      format('svg');
}

@import url(//db.onlinewebfonts.com/c/198bf5583f9f075a77b457c54a24b02b?family=GT+Pressura+Mono+Light);
@font-face {
  font-family: 'GT Pressura Mono Light';
  src: url('//db.onlinewebfonts.com/t/198bf5583f9f075a77b457c54a24b02b.eot');
  src: url('//db.onlinewebfonts.com/t/198bf5583f9f075a77b457c54a24b02b.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/198bf5583f9f075a77b457c54a24b02b.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/198bf5583f9f075a77b457c54a24b02b.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/198bf5583f9f075a77b457c54a24b02b.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/198bf5583f9f075a77b457c54a24b02b.svg#GT Pressura Mono Light')
      format('svg');
}

@import url(//db.onlinewebfonts.com/c/6d126d1cf218a43fb9548319f5824445?family=Portrait+Light);
@font-face {
  font-family: 'Portrait Light';
  src: url('//db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.eot');
  src: url('//db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/6d126d1cf218a43fb9548319f5824445.svg#Portrait Light')
      format('svg');
}

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #005a87;
  font-size: 14px;
}

body {
  font-family: GT Pressura Mono Regular, monospace;
  background: #fffcf9 url(../assets/img/background.jpg);
  background-repeat: repeat;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.71428571;
}

#siteWrapper {
  padding: 1.5vw;
  width: 100%;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Nav section */
#siteHeader {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.headerBanner {
  text-align: center;
  padding: 16px;
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.headerBanner:hover {
  color: #26498d;
}

.headerBanner:hover .logoText {
  fill: #26498d;
}

/* .logoText :hover {
  fill: #26498d;
} */

#headerDate {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.42857143;
  margin-bottom: 0.57142857rem;
  text-transform: uppercase;
}

.siteTitle {
  width: 100%;
  margin: 0;
  padding: 0 4vw;
}

.siteTitle :hover {
  color: #005a87;
}

.siteDescription {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

nav ul li {
  text-align: center;
  list-style: none;
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  overflow: hidden;
}

.lastHeaderLink {
  grid-column: 1/4;
}

nav ul li a {
  font-size: 1.2857142857142858rem;
  line-height: 1.33333333;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  /* original design uses 20px padding but that causes problems on very small screens */
  /* padding: 16px 20px; */
  padding: 16px 0px;
  margin: 0;
  position: relative;
}

/* main content */
/* catch of the day */
#siteInner {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.articleWrapper {
  padding: 2.28571429rem;
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.articleHeader {
  margin-bottom: 26px;
}

.articleTitle {
  margin: 0;
  font-size: 3.4285714285714284rem;
  line-height: 0.75;
  font-family: Portrait Light, serif;
}

.articleSubtitle {
  font-family: GT Pressura Mono Light;
  margin: 0;
  line-height: 1.71428571;
}

.articleImg {
  filter: brightness(90%) grayscale(100%) contrast(130%);
  transition: filter 0.9s;
  -webkit-user-drag: none;
  width: 100%;
}

.articleBody p {
  margin: 0;
}

.articleFooter {
  text-align: right;
}

/* holiday hrs */
.holidayHours {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  padding: 1.42857143rem;
  font-weight: 400;
  text-align: center;
}

.border {
  border: 2px dashed;
  padding: 1.42857143rem;
}

.border .articleTitle {
  margin-bottom: 8px;
  font-size: 3rem;
  line-height: 0.85714286;
}

.holidayHoursImg {
  filter: brightness(90%) grayscale(100%) contrast(130%);
  transition: filter 0.9s;
  -webkit-user-drag: none;
  width: 80%;
}

.locationBtns {
  width: 100%;
  display: flex;
  border: 2px solid #231f20;
  margin: 10px 0;
}

#locationBtnActive {
  background: #231f20;
  color: #fffcf9;
  width: 50%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1428571428571428rem;
  line-height: 1;
  cursor: pointer;
}

#locationBtn {
  width: 50%;
  padding: 10px;
  color: #231f20;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1428571428571428rem;
  line-height: 1;
  cursor: pointer;
}

#holidayHoursBodyActive {
  text-transform: uppercase;
  margin: 20px 0 0;
}

#holidayHoursBody {
  text-transform: uppercase;
  margin: 20px 0 0;
  display: none;
}

.row {
  display: flex;
}

.dots {
  border-bottom: 2px dotted #231f20;
  height: 1.25em;
  margin: 0 4px;
  flex-grow: 1;
}

/* get in touch */
.getInTouch {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  padding: 1.42857143rem;
  font-weight: 400;
  text-align: center;
}

.getInTouchImg {
  filter: brightness(90%) grayscale(100%) contrast(130%);
  transition: filter 0.9s;
  -webkit-user-drag: none;
  width: 100%;
  margin-bottom: 1.42857143rem;
}

.getInTouchTitle {
  margin: 0;
  margin-bottom: 1.85714286rem;
  font-size: 3rem;
  line-height: 0.85714286;
  font-family: Portrait Light, serif;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91.66666667%;
  padding-left: 8.33333333%;
}

.contactHeading {
  margin: 0;
  font-size: 1.2857142857142858rem;
  line-height: 1.33333333;
  font-weight: 700;
}

.contactText {
  margin: 0;
}

/* StraightFromTheSource */
.articleWrapperAlt {
  padding: 1.42857143rem;
}

.articleHeaderAlt {
  margin-bottom: 10px;
}

.articleTitleAlt {
  font-size: 3rem;
  line-height: 0.85714286;
}

.articleImgStraightFromTheSource {
  width: 50%;
  float: right;
  margin-top: -5rem;
}

/* TheSeaHarvestStory (shares alot of styles with article and article alt)*/
.articleImgTheSeaHarvestStory {
  margin-bottom: 30px;
}

/* BatemansBayFishingTips */
.articleImgBatemansBayFishingTips {
  margin-bottom: 30px;
}

/* fresh as it gets */
.articleHeaderCenter {
  text-align: center;
}

.articleImgFreshAsItGets {
  margin-bottom: 30px;
}

/* footer */
.siteFooter {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.footerBanner {
  text-align: center;
  padding: 16px;
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
}

.footerItem {
  box-shadow: 0 0 0 1px #231f20, inset 0 0 0 1px #231f20;
  text-align: center;
  display: block;
  padding: 14px 20px;
  font-size: 1.1428571428571428rem;
  line-height: 1;
  text-transform: uppercase;
}
